.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  gap: 2.5em;
  background-image: url("/background.avif");
  background-size: cover;
}

.description {
  display: flex;
  justify-content: center;
  font-family: var(--font-mono);
  font-size: medium;
  padding: 1rem;
  background-color: white;
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
}

.inputfield {
  display: flex;
  font-family: var(--font-mono);
  justify-content: center;
  width: 300px;
  font-size: medium;
  background-color: white;
}

.button {
  display: flex;
  font-family: var(--font-mono);
  justify-content: center;
  width: 200px;
  font-size: medium;
}

.my-toast {
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
}

.my-toast-body {
  font-family: "Inter", sans-serif;
}

.my-toast-progress {
  background-color: #fff;
}
