.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: flex;
  justify-content: center;
  max-width: var(--max-width);
  z-index: 2;
  font-family: var(--font-mono);
  margin-top: 10em;
  margin-bottom: 2.4em;
  font-size: medium;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
}

.inputfield {
  display: flex;
  font-family: var(--font-mono);
  justify-content: center;
  width: 300px;
  font-size: medium;
  margin-bottom: 2.5em;
  background-color: rgba(var(--callout-rgb), 0.5);
}

.button {
  display: flex;
  font-family: var(--font-mono);
  justify-content: center;
  width: 200px;
  font-size: medium;
}
